#headerLogo {
    width: 80%;
    height: auto;
}

#logo {
    margin: 0px;
}
.jumbotron {
    margin-top: -60px;
    margin-bottom: -60px;
    max-width: 100%;
 }

#jumbo {
    background-color: black;
}

.fa.fa-instagram {
    border: none;
    background-color: rgb(231, 0, 127);
    color: white;
}

.fa.fa-instagram:hover {
    border: none;
    background-color:rgb(190, 0, 105);
    color: white;
}

#h-text {
    font-style: italic;
    font-size: 20px;
    text-align: right;
    color: white;
    text-shadow: 2px 2px rgb(61, 61, 61);
}

#social-header li {
    display: inline-block;
}

.container {
    display: inline;
    margin: 0px;
}
  
.no-expand {
    box-sizing: border-box;
    width: 0px;
    min-width: 90%;
    padding: 0px 100px 0px 70px;
}

.navbar {
    background-color: dimgray;
}

.carousel {
    border: solid black; 
}

.carousel img {
    max-width: 100%;
    width: auto   9;
    height: auto;
    vertical-align: middle;
    border: 0;
  }

  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; 
}

.carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

h2 {
    font-family: 'Special Elite', cursive;
    font-size: 61px; 
    color: black;
    line-height: 1em;
}

h3 {
    font-family: 'Special Elite', cursive;
    font-size: 26px; 
    color: black;
    line-height: 1em;
}

.rowContent {
    margin: auto;
    width: auto;
    height: 764px;
    border: 2px solid black;
    padding: 10px;
}
#comingUpCols img {
    width: 356px;
    height: 360px;
    object-fit: cover;
    margin: 5px;
}

img.rounded-corners {
    border-radius: 5px;
}
