#headerLogo {
    width: 80%;
    height: auto;
}

#logo {
    margin: 0px;
}
.jumbotron {
    margin-top: -60px;
    margin-bottom: -60px;
    max-width: 100%;
 }

#jumbo {
    background-color: black;
}

#home1448 {
    height: 25px;
    width: auto;
}

.fa.fa-instagram {
    border: none;
    background-color: rgb(231, 0, 127);
    color: white;
}

.fa.fa-instagram:hover {
    border: none;
    background-color:rgb(190, 0, 105);
    color: white;
}

#h-text {
    font-style: italic;
    font-size: 20px;
    text-align: right;
    color: white;
    text-shadow: 2px 2px rgb(61, 61, 61);
}

#social-header li {
    display: inline-block;
}

#social-footer {
    display: inline-block;
    margin: 10px 0px;
}

.container {
    display: inline;
    margin: 0px;
}
  
.no-expand {
    width: 0px;
    min-width: 90%;
    padding: 0px 90px 0px 80px;
}

.navbar {
    background-color: black;
}

#loginModal .modal-header {
    background-color: black;
    color: white;
}

.modal-title {
    color: white;
}
.carousel {
    border: solid black; 
    border-radius: 5px;
    background-color: black;
}

.carousel img {
    max-width: 100%;
    width: auto   9;
    height: auto;
    vertical-align: middle;
    border: 0;
    border-radius: 5px;
  }

  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; 
}

.carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

h2 {
    font-family: 'Special Elite', cursive;
    font-size: 61px; 
    color: black;
    line-height: 1em;
}

h3 {
    font-family: 'Special Elite', cursive;
    font-size: 26px; 
    color: black;
    line-height: 1em;
}

#contact-us {
    font-family: 'Special Elite', cursive;
    font-size: 20px; 
    color: white;
    line-height: 1em;
}

.rowContent {
    margin: auto;
    width: auto;
    height: 800px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}
#comingUpCols img {
    width: 356px;
    height: 360px;
    object-fit: cover;
    margin: 5px;
}

#buy-tix {
    border-radius: 5px;
    position: relative;  
    margin-left:25%; 
    margin-bottom: 15px;
}

#fb-group {
    border-radius: 5px;
    position: relative;
    margin-left: 25%;
    margin-bottom: 15px;
}

img.rounded-corners {
    border-radius: 5px;
}

p {
    max-width: fit-content;
}

.site-footer {
    background-color: black;
    padding: 20px 0; }

#footer-donate {
    margin-bottom: 5px;
}

#copyright {
    color: white;
}